@import url('../../index.css');
  .dot {
    width: 7px;
    height: 7px;
    background: var(--white-text);
    border-radius: 50%;
    margin: 3px;
    animation: dotScale 1s infinite ease-in-out;
  }
  
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes dotScale {
    0%, 40%, 100% {
      transform: scale(1.0);
    }
    
    15% {
      transform: scale(1.7);
      background-color: var(--secondary-color);
    }
  }