@import "tailwindcss";
@import 'primeicons/primeicons.css';
        

:root {
    --primary-color: #212D40;
    --secondary-color: #364156;
    --accent-color: #7D4E57;
    --text-color: #D66853;
    --white-text: #D3D3D3;
}

@font-face {
    font-family: "Bungee";
    src: url("/font/Bungee-Regular.ttf");
}

@font-face {
    font-family: "Bree-serif";
    src: url("/font/BreeSerif-Regular.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bree-serif";
}

.title {
    /* -webkit-text-stroke: 3px #2b3b54; */
        text-shadow: 
      -4px -4px 0 #2b3b54,
       4px -4px 0 #2b3b54,
      -4px  4px 0 #2b3b54,
       4px  4px 0 #2b3b54;

       .secondary-title {
        text-shadow: 
      -4px -4px 0 #D66853,
       4px -4px 0 #D66853,
      -4px  4px 0 #D66853,
       4px  4px 0 #D66853;
       }
}
